/*
* author: @alexh
*/

/* La caja de busqueda(en un select) queda al 100% */
.ui-selectonemenu-filter-container {
    width: 95% !important;
}
.ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon{
    right: 8% !important;
}


.boton-matricular{
    background-color:orangered;
    font-weight:bold;
    color: white;
    border: 1px solid #b23000;
    padding: 7px 10px;
}


.boton-matricular[disabled="disabled"]{
    background-color: #363636 !important;
    border: 1px solid #2f2f2f;
}

.lista-roles{
    list-style-type: none;
}

.lista-roles>li>a{
    background-color: #1b81e4;
    padding: 10px 20px;
    display: block;
    min-width: 450px;
    width: 20%;
    color: whitesmoke;
}

.lista-roles>li>a:hover{
    background-color: #1978d4;
}